%display{
    display:flex;
    justify-content: center;
}

%displayf{
    display:flex;
}
%displayfspacea{
    display: flex;
    justify-content: space-around;
}

%displaymarginsauto{
    margin: 0;
    padding: 0;
}

%displayfrow{
    display: flex;
    flex-direction: row;
}

%displayfcolumn{
    display: flex;
    flex-direction: column;
}

%displayb{
    display: block;
}

%displayg{
    display: grid;
}
%estilolista{
    list-style: none;
}



